.login_item {
	margin: auto;
	text-align: center;
	padding: 170px 0;
}

.user_item {
	text-align: center;
	margin: 25px;
}

.login_item input {
	margin: 0 25px;
}

.login_item .ant-btn {
	margin: 0 25px;
}