// {
// 	"presets": [
// 		[
// 			"@babel/preset-env",
// 			{
// 				"useBuiltIns": "usage", //按需引入polyfill
// 				"corejs": 3
// 			}
// 		],
// 		"@babel/preset-react"
// 	],
// 	"plugins": [
// 		[
// 			"import",
// 			{
// 				"libraryName": "antd",
// 				"style": "css",
// 				"libraryDirectory": "es"
// 			},
// 			"antd"
// 		]
// 	]
// }