.big-card-container {
    position: absolute;
    width: 90%;
    height: 22%;
    /* height: 180px; */
    background-color: transparent;
    /* border: 1px solid black;
    border-radius: 10px; */
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

/* .svg {
    width: 100%;
    height: 100%;
} */

.new-card-container {
    position: absolute;
    width: 90px;
    height: 140px;
    background-color: antiquewhite;
    border: 1px solid black;
    border-radius: 10px;
    /* left: 50%;
    bottom: 20px;
    transform: translateX(-50%); */
}

.svg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.fadeOut{
    opacity:0;
    transition: height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn{
    opacity:1;
    transition: opacity 0.5s 0.5s;
}