.room-item {
	overflow: hidden;
	display: inline-block;
	width: 250px;
	height: 150px;
	background-color: blanchedalmond;
	border:  rgb(255, 255, 255) 2px solid;
    box-shadow: 5px 5px 5px rgb(165, 165, 165);
	border-radius: 8px;
	padding: 5px;
	margin-left: 40px;

}
.room-item .ant-divider-horizontal {
    margin-top: 14px;
    margin-bottom: 10px;
}

.room-item .ant-btn {
    border-radius: 8px;
    height: 30px;
    background-color: rgb(255, 163, 42);
    border-color: rgb(255, 163, 42);
}

.room-item .ant-btn:disabled {
    background-color: rgb(253, 190, 107);
    border-color: rgb(253, 190, 107);
}
.room-item .ant-btn:disabled:hover {
    background-color: rgb(253, 190, 107);
    border-color: rgb(253, 190, 107);
}

.room-item .ant-btn:hover {
    border-radius: 8px;
    height: 30px;
    background-color: rgb(246, 144, 11);
    border-color: rgb(246, 144, 11);
}

.room-owner {
    /* float: left; */
    display: flex;
    /* margin-left: 10px; */
    /* background-color: aqua; */
    line-height: 30px;
}

.player-list {
    display: flex;
    margin-top: 12px;
    margin-left: 10px;
}

.player-advatar {
    margin-left: 5px;
}

.player-num {
    /* float: right; */
    font-size: 0.7rem;
    display: inline-block;
    margin-left: 5%;
}